/* 全局属性 */
* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 Arial,sans-serif;
}
html,body {
  height: 100%;
}
header {
  height: 100%; /* 首页全屏非滚动 */
}
a {
  text-decoration: none;
  color: #fff;
}
p {
  color: #777;
}
li {
  list-style: none;
}
.layout {
  width: 1100px;
  margin: 0 auto; /* 固定宽度后利用左右外边距auto居中 */
}
.container {
  padding: 150px 0; /* 撑开容器高度 */
  text-align: center;
}
.clearfix {
  content: "";
  display: block;
  clear: both;
}
.btn {
  display: inline-block;
  padding: 20px 40px;
  border-radius: 8px;
  font: 18px bold;
  background: #fed136;
  transition: all 2s;
}
.btn:hover {
  background: rgb(254, 162, 3);
}

/* 局部属性 */
.content-heading {
  margin-bottom: 20px;
  font-size: 40px;
}
.content-subheading {
  margin-bottom: 75px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.text-muted {
  font-style: italic;
}

/* header部分 */
header {
  background: #000 url("../img/header-bg.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
}
header .navbar {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 0;
  width: 100%;
}
header .logo {
  float: left;
  color: #fed136;
  font-size: 30px;
  transition: all 2s;
}
header .logo:hover {
  color: rgb(254, 166, 3);
}